body {
	font-family: 'Poppins', sans-serif;
}
header .carousel-inner .item {
	height: 100vh;

}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
	background:rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
	
}
.nav.navbar-nav.navbar-right {
	background:none;

	color:#fff;
	font-size:18px;
	padding:10px 25px;
	
}
.nav.navbar-nav.navbar-right :hover{
	background:orange;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;	
	
}
.carousel-caption {
	padding-bottom: 250px;
font-family: "Brush Script MT", cursive;
	background:rgba(0,0,0,0.5);
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.carousel-caption h2 span {  
	color: #EDBB00;
	
}
.carousel-caption a {
	
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border:1px solid #fff;
}

.carousel-caption a:hover {
	
background:orange;
	
}

.carousel-control.right {
	background-image: none;
	

}
.carousel-control.left {
	background-image: none;
	
}
.carousel-indicators .active {
	background-color: #EDBB00;
	border-color: #EDBB00;

}





.story{
font-size:200px;
font-family: "Brush Script MT", cursive;
margin-top:80px;
color: #e74c3c;
}

.stext{
	display:flex;
	flex-direction:row;
	
	
}

.stext1{
	margin-left:120px;
	
	
}
.stext2{
	margin-left:80px;
	margin-top:60px;
	
	
}

.text{
		
		margin-top:80px;
		position:absolute;
		padding-left:650px;
		
}


.people {
	background-image:url('Footer background.png'); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 90vh;
	width:202vh;	
	border:dotted;
	display:flex;
	 
}

.img{
	
	margin-left:250px;
	margin-top:90px;
	display:flex;
	justify-content:center;

	
	
	
}

.block{
	display:inline-block;
	border-color:black;
    height:220px;
	width:400px;
	position:absolute;
	background:white;
	margin-top:90px;
	margin-left:800px;
	
}

.block button{
border-color:#e74c3c;
background-color:transparent;
margin-left:20px;
padding:10px;
width:180px;

}
.block button:hover{
	background-color:orange;
}

.written{
	margin-left:20px;
	margin-top:30px;
}


.button{

  border-color: black;
  color: white;
  padding: 5px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
  
  
}

.button1 {background-color: transparent; color: black; margin-left:350px; }
.button2 {background-color: transparent; color: black;}
.button3 {background-color: transparent; color: black;}
.button4 {background-color: transparent; color: black;}
.button5 {background-color: transparent; color: black;}
.button6 {background-color: transparent; color: black;}


.button1:hover{
	background:#e74c3c;
}

.button2:hover{
	background:#e74c3c;
}

.button3:hover{
	background:#e74c3c;
}


.button4:hover{
	background:#e74c3c;
}

.button5:hover{
	background:#e74c3c;
}


.button6:hover{
	background:#e74c3c;
}



.images-container{
	display:flex;
	justify-content:center;

	
}

.images-container img{
	margin-left:5px;
	margin-right:5px;
    border-radius: 100px;
	width:100px;
	height:100px;
	border:10px solid #ecf0f1;
}
.promo2{
		
  background-image:  url:('promo_aslide_2.jpg');
    title: 'Book Now',
    width: '30%',

  }


.carousel-caption button {
	
	
	display: inline-block;
	padding:10px 32px;
	margin-top: 15px;
    color: orange;

	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
	
}

.images-container-team{
	display:flex;
	justify-content:center;
	margin-top:50px;

	
}

.images-container-team img{
	margin-left:5px;
	margin-right:5px;
	
	
}
.teams{
	margin-top:50px;
	
}

.footer{
	
	margin-top:80px;
	margin-left:150px;
	margin-right:50px;
	margin-bottom:50px;
		opacity:0.5;
}
.font{
	font-family:cursive;
}


.imgcl{
	display:flex;
	flex-direction:column;
	padding-right:300px;
	vertical-align:middle;
	
}
.img1{
	
	margin-left:350px;
	

}

hr.solid {
  border-top: 2px solid #7f8c8dv;
  margin-top:80px;
}

.icon{
  background-color: white;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right:20px;
  display:flex;
  justify-content:center;

}
.icon:hover{
background-color:#fff;
}

.pic{
	display:flex;
flex-direction:row;
}


 
.teamtxt{
	margin-left:230px;
	margin-top:20px;
	
}

.teamtxt2{
	margin-left:450px;
    position:absolute;
	
}


.teamtxt3{
	margin-left:680px;
	 position:absolute;

	
}


.teamtxt4{
	margin-left:900px;
	
	
}

.teamtxt5{
	margin-left:1100px; 
    margin-top:0px;

 
   
}




/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}
	
	



